@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: linear-gradient(to bottom, rgb(92, 92, 92), rgba(95, 95, 95, 0.541));
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgb(53, 53, 53);
    border-radius: 0px 0px 5px 5px;
}

header > h1 {
    /* Define o gradiente */
    font-size: 48px;
    font-weight: bold;
    background-image: linear-gradient(to top, rgb(214, 16, 16),rgb(192, 118, 28), rgb(197, 196, 196), white);

    /* Faz o background aparecer apenas no texto */
    -webkit-background-clip: text;
    background-clip: text;

    /* Torna a cor da fonte transparente */
    -webkit-text-fill-color: transparent;
}

header > nav {
    text-align: right;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

nav > a {
    font-weight: bold;
    color: #e07e3c;
    margin-left: 20px;
}

main {
    margin: 4%;
    display: flexbox;
    text-align: center;
    padding-bottom: 4%;
    background-color: white;
}

p {
    font-family: "Rubik", sans-serif;
    text-indent: 20px;
}

#cartas {
    display: inline;
    border: none;
    margin: auto;
}

#cartas > h1 {
    font-family: "Cinzel", serif;
    font-size: 2.5em;
    font-weight: bold;
    padding: 20px;
}

#fotos-personagens {
    display: flex-box;
    width: 80%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    padding: 20px 85px;
}

#fotos-personagens > h1 {
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Cinzel", serif;
    padding-bottom: 20px;
}

.personagens {
    display: inline-table;
    margin: auto;
    margin: 10px;
    width: 200px;
    background-color: #808080a1;
}

.personagens  img {
    height: 320px;
}

main  img {
    width: 200px;
    margin: 0px 20px 10px 20px;
    padding: 30px 10px 0px 10px;
}

div {
    border: 3px solid #A34111;
    /*box-shadow:inset 1px 1px 5px 5px rgba(0, 0, 0, 0.178);*/
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.452);
    background-color: rgba(255, 255, 255, 0.877);
    margin: 20px 10px 20px 10px;
    border-radius: 15px;
    display: inline-table;
    word-break: break-all; /* Quebra qualquer palavra para caber na largura. */
    width: 200px;
}

div > p {
    width: 200px;
    margin: auto;
    padding-bottom: 20px;

    letter-spacing: 1px; /* Adiciona 2px entre as letras */
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: justify;
}

#social {
    width: 30%;
}

footer {
    padding: 10px 0px  30px 0px;
    background-color: rgb(53, 53, 53);
    text-align: center;
}

footer > p {
    margin-bottom: 5px;
    margin-top: 10px;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    font-size: 1.2em;
}

footer a {
    color: #e07e3c;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style-position: inside;
}

ul p {
    text-decoration: underline;
    padding-top: 10px;
    color: #e07e3c;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    text-align: justify;
    margin: 10px 0px 10px 20px;
}